<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Performance</title>
</head>
<body>
<a th:href="@{/performances}">performances</a>
<br>
  <h5>update performance</h5>
  <form th:action="@{/performances}" th:method="put">
    <input type="hidden" th:value="${performance.getId()}" name="id">
    <label for="name-input">name:</label>
    <input type="text" th:value="${performance.getName()}" id="name-input" name="name">
    <label for="date-input">date:</label>
    <input type="text" th:value="${performance.getDate()}" id="date-input" name="date">
    <label for="time-input">time:</label>
    <input type="text" th:value="${performance.getTime()}" id="time-input" name="time">
    <label for="description-input">description:</label>
    <input type="text" th:value="${performance.getDescription()}" id="descritption-input" name="description">
    <input type="submit" value="update">
  </form>
  <form th:action="@{/performances/{id}(id=${performance.getId()})}" th:method="delete">
    <input type="submit" value="remove">
  </form>
</body>
</html>